@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<style>
    #header {
        background-color: black;
    }
</style>
<body id="exhibit-body">

    <main id="main">
        <section id="about">
            <div class="container">

                <header class="section-header">
                    <h3>Join With us?</h3>
                </header>
                <h1>@ViewData["Title"]</h1>
                <partial name="_StatusMessage" model="Model.StatusMessage" />
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </div>
        </section>
    </main>
</body>